.today {
  color: yellowgreen;
}

.isSelected {
  color: red;
}
.buttonDate {
  display: block;
  width: 100%;
  height: 100%;
  appearance: none;
  outline: none;
}
.buttonDate:focus {
  outline: none;
}
