.content {
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.content.visible {
  opacity: 1;
  height: auto;
}

.content.hidden {
  height: 0;
  opacity: 0;
}
